@model IEnumerable<MVCBlog.Models.Blog>

@{
    ViewData["Title"] = "Index";
}

<!-- Hero section -->
<section class="hero bg-center bg-cover" style="background: url(img/hero-banner.jpg)">
    <div class="dark-overlay py-5">
        <div class="overlay-content">
            <div class="container py-5 text-white text-center">
                <h1>Blog Topics</h1>
            </div>
        </div>
    </div>
</section>


<!--Blogs-->
<section class="pt-5">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col">
                <!--Admin Create Post Button-->
                @if (User.IsInRole("Administrator"))
                {
                    <p>
                        <a asp-action="Create">Create new Blog Topic</a>
                    </p>
                }
            </div>
        </div>
    </div>
    @foreach (var item in Model)
    {
        <div class="container pt-5">
            <div class="row mb-5">
                <div class="col-lg-8">
                    <div class="row text-center">
                        <div class="col-lg-6 mb-5">

                            <!-- Blog Category 1-->

                            <a><img class="img-fluid mb-4 rounded" src="~/img/listing-tnumbnail-3.jpg" alt="" /></a>
                            <h3 class="h4 mt-2">
                                <a asp-controller="Posts" asp-action="BlogPosts" asp-route-id="@item.Id"
                                   class="reset-anchor">@Html.DisplayFor(modelItem => item.Name)</a>
                            </h3>

                            <!--Admin/Moderator Create/Delete Buttons-->
                            @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
                            {
                                <p>
                                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </p>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</section>


<br />
<br />
<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-controller="Posts" asp-action="BlogPosts" asp-route-id="@item.Id">Blog Posts</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <!--<a asp-action="Details" asp-route-id="@item.Id">details</a> |-->
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>