@model MVCBlog.ViewModels.BlogPostsVM

@{
    ViewData["Title"] = "Home Page";
    var page = Model.PageNumber;
    var older = page - 1;
    var newer = page + 1;
}

<!-- Page Content -->
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8">
            <h1 class="my-4">Blog Blog Blog</h1>
            @foreach (var post in Model.Posts)
            {
                <!-- Blog Post -->
                <div class="card mb-4">
                    <img class="card-img-top" src="@post.ImageDataUrl" alt="Card image cap">
                    @*<img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">*@
                    <div class="card-body">
                        <h2 class="card-title">@Html.DisplayFor(data => post.Title)</h2>
                        <p class="card-text">@Html.DisplayFor(data => post.Abstract)</p>
                        <a asp-controller="Posts" asp-action="Details" asp-route-id="@post.Id">@post.Title" class="btn btn-primary mb-2">Read More &rarr;</a>
                        <br />
                        @foreach (var tag in Model.Tags)
                        {
                            @if (tag.PostId == post.Id)
                            {
                                <a asp-controller="Home" asp-action="Tag" asp-route-id="@tag.Name">#@tag.Name</a>
                            }
                        }
                    </div>
                    <div class="card-footer text-muted">
                        Posted on @post.Created.ToString("MMM dd, yyyy") in @Html.DisplayFor(data => post.Blog.Name)
                    </div>
                </div>
            }
            <!-- Pagination -->
            <ul class="pagination justify-content-center mb-4">
                <li class="page-item">
                    <form asp-controller="Home" asp-action="Index" method="get">
                        <input type="hidden" value="@older" name="page" />
                        @if (older >= 0)
                        {
                            <button type="submit" class="page-link btn text-white mr-1">&larr; Prev</button>
                        }
                        else
                        {
                            <button type="submit" class="page-link btn text-white mr-1" disabled>&larr; Prev</button>
                        }
                    </form>
                </li>
                <li class="page-item">
                    <form asp-controller="Home" asp-action="Index" method="get">
                        <input type="hidden" value="@newer" name="page" />
                        @if (Model.TotalPosts > newer * 5)
                        {
                            <button type="submit" class="page-link btn text-white">Next &rarr;</button>
                        }
                        else
                        {
                            <button type="submit" class="page-link btn text-white" disabled>Next &rarr;</button>
                        }
                    </form>
                </li>
            </ul>
        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Search Widget -->
            <div class="card my-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <form asp-controller="Home" asp-action="Results" method="get">
                        <div class="input-group">
                            <input name="SearchString" type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-append">
                                <button type="submit" class="btn btn-secondary">Go!</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Categories Widget -->
            <div class="card my-4">
                <h5 class="card-header">Categories</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                @foreach (var blog in Model.Blogs)
                                {
                                    <li>
                                        @*<a asp-controller="Posts" asp-action="BlogPosts" asp-route-id="@blog.Id">@blog.Name</a>*@
                                        <a asp-controller="Home" asp-action="Categories" asp-route-id="@blog.Id">@blog.Name</a>
                                    </li>
                                }
                            
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                           
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
   
</div>