@model MVCBlog.Models.Post

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="row">

    <!-- Post Content Column -->
    <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">@Model.Title</h1>

        <!-- BlogUser -->
        <p class="lead">
            by
            <a asp-controller="Posts" asp-action="BlogPosts" asp-route-id="@Model.BlogId">@Model.Blog.Name</a>
        </p>

        @foreach (var tag in Model.Tags)
        {
            @tag
        }

        <hr>

        <!-- Date/Time -->
        <p>Posted on @Model.Created.ToString("MMMM dd, yyyy")</p>

        <hr>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="@Model.ImageDataUrl" alt="@Model.FileName">

        <hr>

        <!-- Post Content -->
        @Html.Raw(Model.Body)

        <hr>

        <h5>@Model.Comments.Count comments</h5>
        <!-- Comments Form -->
        <div class="card my-4">
            <h5 class="card-header">Leave a Comment:</h5>
            <div class="card-body">
                <form asp-controller="Comments" asp-action="Create">
                    @Html.Hidden("PostId", Model.Id) @* primary key of post *@
                    <div class="form-group">
                        <textarea name="userComment" class="form-control" rows="3" placeholder="Add a comment..."></textarea>
                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <button type="submit" class="btn btn-primary">Submit</button>
                    }
                    else
                    {
                        @*<button class="btn noHover" disabled>Submit</button>*@
                        <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Login</a>
                    }
                </form>
            </div>
        </div>

       
        <div id="commentsection">
            <!-- Single Comment -->
            @foreach (var comment in Model.Comments.OrderByDescending(c => c.Created))
            {
                <div class="media mb-4">
                    @*<img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">*@
                    <div class="media-body ml-4">
                        <h5 class="mt-0">
                            @comment.BlogUser.FirstName @comment.BlogUser.LastName
                            <span style="font-size: 1rem; font-weight: 500; opacity: 0.65;">
                                @comment.Created.ToString("MMM dd")
                               
                                @if (User.Identity.Name == comment.BlogUser.Email)
                                {
                                    <button class="editAnchor" onclick="ToggleEdit(@comment.Id)">Edit</button>
                                }
                            </span>

                        </h5>
                        <div class="align-items-center">
                            <p id="comment-@comment.Id" class="mb-1">@Html.Raw(comment.Body)</p>
                        </div>
                        <form id="editForm-@comment.Id" class="editForm" asp-controller="Comments" asp-action="Edit" asp-route-id="@comment.Id" style="display:none">
                            @Html.Hidden("Created", comment.Created)
                            @Html.Hidden("BlogUserId", comment.BlogUserId)
                            @Html.Hidden("BlogUser", comment.BlogUser)

                            @Html.Hidden("Updated", DateTimeOffset.Now)
                            @Html.Hidden("PostId", Model.Id)
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" name="content" value="@Html.Raw(comment.Body)">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit">Submit</button>
                                </div>
                            </div>
                           
                        </form>
                    </div>
                </div>
            }
        </div>
       
    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">

        <!-- Search Widget -->
        <div class="card my-4">
            <h5 class="card-header">Search</h5>
            <div class="card-body">
                <form asp-controller="Home" asp-action="Results" method="get">
                    <div class="input-group">
                        <input name="SearchString" type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-append">
                            <button type="submit" class="btn btn-secondary">Go!</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>

       

        <!-- Side Widget -->
        <div class="card my-4">
            <h5 class="card-header">About the developer</h5>
            <div class="card-body">
                <div class="row pb-3">
                    <div class="col-4">
                        <a href="https://josh-scott-portfolio.netlify.app/" target="_blank"><img class="author_img rounded-circle" src="#" alt="#" width="100"></a>
                    </div>
                    <div class="col">
                        <h4>Josh Scott</h4>
                        <p>Full Stack .Net Developer</p>
                        <div class="row social_icon justify-content-start">
                            <a href="https://www.linkedin.com/in/joshgreatscott/" class="mr-2 ml-3"><i class="fab fa-linkedin-in fa-lg"></i></a>
                            <a href="https://github.com/joshuabscott" class="mr-2 ml-2"><i class="fab fa-github fa-lg"></i></a>
                            <a href="https://twitter.com/JoshuaBscott" class="mr-2 ml-2"><i class="fab fa-twitter fa-lg"></i></a>
                            <a href="https://www.youtube.com/user/joshuabenscott" class="mr-2 ml-2"><i class="fab fa-youtube fa-lg"></i></a>
                        </div>
                    </div>
                </div>
                <p>With a background in story about life.</p>
                <div class="br"></div>
            </div>
        </div>

    </div>

</div>

