@using MVCBlog.Utilities
@using MVCBlog.Models
@model IEnumerable<Post>

@{
    ViewData["Title"] = "Index";
    //var ImageHelper = new ImageHelper[];
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Abstract)
            </th>
            @*<th>
                <img src="@ImageHelper.DecodeImage(Item.Image, Item.FileName)" />
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.Body)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.Image)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Updated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blog)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Abstract)
            </td>
            <td>
                @Html.Raw(item.Body)
            </td>
            @*<td>
                <img class="img-fluid rounded" src="@ImageHelper.DecodeImage(item)" />
            </td>*@

            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Updated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Blog.Id)
            </td>
            <td>
                @*<a asp-controller="Posts" asp-action="ShowPosts" asp-route-id="@item.Id">Show Posts</a> |*@
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
